input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:swapcaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-speed 0.0
    }
}
