input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
            options "ctrl:swapcaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-speed 0.0
    }

    focus-follows-mouse max-scroll-amount="0%"
}
